<component name="ArtifactManager">
  <artifact type="war" name="SpringApplicationXml:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="SpringSecurityApp.war">
      <element id="artifact" artifact-name="SpringApplicationXml:war exploded" />
    </root>
  </artifact>
</component>